<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>My Page</h1>
    <p>
        <%=name%> <!-- this is how you declare something you are going to insert with EJS -->
    </p>
</body>
</html>