<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>
    <body>
        <div class="container">
            <h1>Register Here</h1>
            <form action="register" method="POST">
                <div class="form-control">
                    <input type="text" id="fname" name="fname" required>
                    <label>First Name</label>
                </div>
                <div class="form-control">
                    <input type="text" id="sname" name="sname" required>
                    <label>Surname</label>
                </div>
                <div class="form-control">
                    <input type="text" id="newuser" name="newuser" required>
                    <label>Username</label>
                </div>
                <div class="form-control">
                    <input type="password" id="newpass" name="newpass" required>
                    <label>Password</label>
                </div>

                <button class="btn">Create User</button>

                <p class="text">Already have an account? <a 
                    href="login">Login</a></p>

                <div class="message">
                    <p><%=message%></p>
                </div>
            </form>
        </div>
    <script src="script.js"></script>
</body>
</html>

<!-- on login page create a new message that says clickk here to register, takes them to registeraccount page, need app .get, need an app. ppost, if they doent already exist need to add them to the tabel, redirectto login page with a messgae saying created succesfully -->